<h1>Tendrilio - Smart Grid Made Easy</h1>

<h2>Sign Up!</h2>

<form action="/show" method="post" accept-charset="utf-8">
	<table>
		<tr>
  	<td>Enter your email:</td> 
		<td><input type="text" name="email" /></td>
		</tr>
		<tr>
		<tr>
			<td>Create a password:</td> 
			<td><input type="text" name="password" /></td>
		</tr>
		<tr>
			<td>Enter your phone number:</td>
			<td> <input type="text" name="phone" /></td>
		</tr>
	</table>  
	<input type="submit" class="btn" value="Get going!">
</form>
<a href="#"><h3>Already signed up? Click here to login.</h3></a>